@import "tailwindcss";
@import "tw-animate-css";
@import "@jumpwind/ui/styles.css";

@layer base {
  /* * { */
  /*   @apply border-border outline-ring/50; */
  /* } */

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply flex min-h-screen flex-col;
  }
}
